<div >
    
    <%= paginate @posts %>

    <% @posts.each do |p| %>
	
	<h2><li><%= link_to p.title, post_url(p.id), :class => 'btn-link'%></li></h2>
    <%= image_tag p.post_image.to_s, :class => 'img-rounded img-responsive post-image' %>
    <p class='post-text'> <%=  p.content %></p>
    <p>Categoría: <%= p.category %></p>
    <p>Posteado el <%= p.created_at.strftime("%d/%m/%Y")%></p> 
    <% end %>
	
	<%= paginate @posts %>

</div>
