<p id="notice"><%= notice %></p>

<h2><%=@post.title%></h2>
<%= image_tag @post.post_image.to_s, :class => 'img-rounded img-responsive post-image' %>
<p class='post-text'> <%=  @post.content %></p>
<p>Categoría: <%= @post.category %></p>
<p>Posteado el <%= @post.created_at.strftime("%d/%m/%Y")%></p> 