<!DOCTYPE html>
<html>
<head>
  <title>Blog Prueba</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%= link_to 'Home', home_url %></li>
          <li><a href="posts">Edicion</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">Blog Prueba</h3>
      </div>

      <%= yield %>

      <div class="footer">
        <p>© Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  

</body>
</html>
