<!DOCTYPE html>
<html>
<head>
  <title>Ruby Blog Prueba</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <meta charset="utf-8"> 
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Edición', posts_path %> </li>
        </ul>
        <h3 class="text-warning">Ruby Blog Prueba</h3>
      </div>

      <%= yield %>

      <div class="footer">
        <p>© Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
